.btn-block {
  display: block;
  width: 100%;
}

.el-form-item:last-child {
  margin-bottom: 0;
}

.el-pagination {
  text-align: center;
}

.el-pager li.active {
  background-color: #1a535c;
  border-radius: 1rem;
  color: $--color-primary-inverse;
}

.el-button.el-button--primary {
  color: $--color-primary-inverse;
}

.search-input .el-input-group__append {
  background-color: $--color-primary;
  color: #d9d9d9;
  border: 0;

  &:hover {
    background-color: lighten($--color-primary, 5);
    color: $--color-primary-inverse;
  }
}

.route-link-view:hover {
  text-decoration: none;
}

a.primary-router-link {
  color: $--color-primary;
}

.new-version-update-notification {
  border-radius: 3px;
}

// fadein transition
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
