.btn-block {
  display: block;
  width: 100%;
}

.search-input .el-input-group__append {
  background-color: $--color-primary;
  color: #d9d9d9;
  border: 0;

  &:hover {
    background-color: lighten($--color-primary, 5);
    color: $--color-primary-inverse;
  }
}

.route-link-view,
.route-link-view:hover {
  text-decoration: none;
}

a.primary-router-link {
  color: $--color-primary;
}

.new-version-update-notification {
  border-radius: 3px;
}

// fadein transition
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
