.btn-block {
  display: block;
  width: 100%;
}

.el-form-item:last-child {
  margin-bottom: 0;
}

.el-pagination {
  text-align: center;
}

.el-pager li.active {
  background-color: #1a535c;
  border-radius: 1rem;
  color: $--color-primary-inverse;
}

.el-button.el-button--primary {
  color: $--color-primary-inverse;
}

.route-link-view:hover {
  text-decoration: none;
}
