//@import './helper.scss';

.el-footer {
  background-color: $--color-primary;
  color: $--color-text-regular;
  text-align: center;
  line-height: $headerHeight;
}

.el-main {
  background-color: $--background-color-base;
  color: $--color-text-regular;
}

.main-content {
  display: block;
}

body > .el-container {
  margin-bottom: 40px;
}
